@model int

@{
    ViewBag.Title = "Registration Complete";
}
<h2>Order Complete</h2>
<p>Thanks for your booking! Your booking number is: @Model</p>
<p>
    How about registering for some more interesting events.
    <a asp-controller="EventCatalog" asp-action="Index"></a>
</p>
